html, 
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background: white;
}

a {
    text-decoration: none;
    color: #222222;
}

header {
    padding: 1.5em 2em;
    color: #222222;
}

img {
    width: 320px;
    height: auto;
}

header h1 {
    margin-top: 0;
    font-size: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
}

.header-nav {
    width: 25em;
    justify-content: space-between;
}

.header-top a {
    color: inherit;
}

nav > a {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 50)
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.border-rounded-sm {
    border-radius: .5em;
}

.box-shadow-sm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.content-wrap {
    height: calc(100vh - 7em)
}

.card {
    height: auto;
    display: flex;
    background-color: #ffffff;
}

.card-sm {
    width: 410px !important;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.card-left {
    width: 320px;
    height: auto;   
}

.card-left > img {
    width: inherit;
    height: inherit;
}

.card-top {

}

.card-bottom {
    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

form {
    width: inherit;
}

.form-control {
    padding: 1em;
}

.form-input > input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #d5d4d4;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
}

.btn:hover {
    background-color: #d5d4d4;
    color: black;
}

.btn-blue {
    background: rgba(12, 118, 218, 0.8);
}

.footer {
    align-items: baseline;
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}


/**
 * Padding stuff
 */

.p-1 {
    padding: 1em;
}

/**
 * Font stuff
 */

 .bold {
     font-weight: 800;
 }

 .bolder {
    font-weight: bold;
 }

 .text-lighter {
     font-weight: 300;
 }

 .text-normal {
    font-weight: 400;
 }

 .text-larger {
     font-size: 1.5rem;
 }

 .text-largest {
     font-size: 3em;
 }


/**
 * Colors 
 */

 .blue-lighter {
     color:#016cf7
 }

 .blue-darker {
     color: #0258c9;
 }

 .white-darker {
     color: #eef1f4;
 }

 .white {
     color: white;
 }

 .black {
     color: black;
 }

 .grey-lighter {
    color: #d6d4d4;
 }

 .border {
     border: 1px solid #d6d4d4;
 }

 .signup-button {
    padding: 10px 20px;
    border-radius: 50px;
 }

 .signup-button:hover {
    box-shadow: none;
 }

 .box-shadow {
    box-shadow: 0 3px 1px -2px rgba(165, 147, 147, 0), 0 2px 2px 0 rgba(181, 168, 168, 0), 0 1px 5px 0 rgba(162, 150, 150, 0.15);
 }

 .font-monseratt {
    font-family: 'Montserrat', sans-serif;
 }

 .fs-1 {
     font-size: 18px;
 }

 .bg-white {
     background-color: white;
 }

 .bg-black {
     background-color: black;
 }

 .tm {
    height: 3.5em;
    font-size: 15px;  
    border-radius: 5px;
    cursor: pointer; 
 }
